{% extends 'blogs/base.html' %}
{% load blog_tags %}

{% block title %} My Blog {% endblock title %} My Blog 

{% block content %}
<h1>My Blog</h1>

 {% if tag %} 
      <h2> Post tagged with "{{ tag.name }}" </h2>
  {% endif %}
<table>
   <tr>
  {% for post in posts %}
  <p>
    <td>
      <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
     
      <div id="post_img">
        <img src="{{ post.image.url }}"
         </a>
      </div>
    </td>
    </p>

    <td>
      <h2>
      
        <p> <block> {{ post.body|markdown|truncatewords_html:20 }}</block></p>
      <p class="tag">
      Tags:
        {% for tag in post.tags.all %}
         <a href="{% url 'blogs:post_list_by_tag' tag.slug %}">
        {{ tag.name }}
         </a>
   {% if not forloop.last %}
    {% endif %}

  {% endfor %} 
    </h2>
    
<p class="date">
      Published on {{post.publish}} by {{post.author}}</p>
    </td>
  </tr>  

{% empty %}
<p> No posts have been added yet </p>
 {% endfor %}

 </table>
</p>

<p class="pagination">
  {% include "blogs/pagination.html" with page=posts %}
</p>


{% endblock content %}
